<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <%= image_tag "/media/#{@image_info[:wid]}/#{@image_info[:num]}.jpg", class: 'img-thumbnail img-responsive' %>
    </div> <!-- .modal-body -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
