<div class="modal-body">
  <div class="alert alert-danger notes-alert" hidden>Oh Snap, an alert!</div>
  <h4>Long Description:</h4>
  <p><%= @service.long_description %></p>
	<h5>Completed On:</h5>
	<p><%= @service.finish %></p>

</div> <!-- .modal-body -->
<div class="modal-footer">
  <button id="reset-btn" type="button" class="btn btn-danger">Reset Completion</button>
  <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
</div> <!-- .modal-footer -->