<% all_handlers = people_map_reducer %>

<% if all_handlers.empty? %>
  <label>
    <input type="radio" name="handler-radio" id="optionsRadios2" disabled>
    <select name="handler" id="handler-dd" disabled>
      <option value="">None Found</option>
    </select>
  </label>
<% else %>
  <label>
    <input type="radio" name="handler-radio" id="optionsRadios2">
    <select name="handler" id="handler-dd">
      <% all_handlers.each do |person| %>
        <option value="<%= "#{person}" %>"><%= "#{person}" %></option>
      <% end %>
    </select>
  </label>
<% end %>