<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel"><%= @service.short_description %></h4>
    </div>
    <div class="modal-body">
      <div class="alert alert-success notes-alert" hidden>Oh Snap, an alert!</div>
      <h4>Long Description:</h4>
      <p><%= @service.long_description %></p>

      <div class="form-group">
        <label for="completion-date">Completion Date</label>
        <input type="date" class="form-control" id="completion-date">
      </div>

    </div>
    <div class="modal-footer">
      <button id="complete-btn" type="button" class="btn btn-primary">Complete</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
    </div> <!-- .modal-footer -->
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<script>
  $('#complete-btn').click(function(event) {
    var complete_date = $('#completion-date').prop('value');;

    var wid = "<%= @active_widget.id %>";
    var sid = "<%= @service.id %>";

    $.ajax({
      url: '/items/complete',
      type: 'PATCH',
      dataType: 'json',
      data: {
        'wid' : wid,
        'sid' : sid,
        'complete_date' : complete_date,
      },
    })
    .done(function(e) {
      console.log(e);
      console.log("success");
      $('div.notes-alert').html("<p>Service Completed</p>");
      $('div.notes-alert').toggle('fast');

      setTimeout(function() {
        $('#notes-modal').modal('hide');
        location.reload(true);
      }, 2000);

    })
    .fail(function(e) {
      console.log(e);
      console.log("error");
    });
  });
</script>