<div class="form-group">
  <label for="<%= @property %>" class="col-lg-2 control-label"><%= @property %></label>
  <div class="col-lg-10">
    <input type="text" class="form-control" id="<%= @property %>>">
  </div>
</div>