// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li.action-items {
	display: inline;
	padding-left: 10px;
}

li.action-items > div {
	display: inline-block;
}

li.prop-item {
	list-style-type: none;
}

hr.overview-spacer {
  margin-top: 10px;
  margin-bottom: 0;
}

#big-image-container {
  position: relative;
}

#big-image-remove {
  position: absolute;
  left: 10px;
  top: 10px;
}

#big-image-remove > span {
  font-size: 2em;
}